nav {
    margin-bottom: 2vh;
    text-align: center;
}

nav input {
    background-color: rgba(300, 300, 300, 0.8);
    outline: none;
    border: none;
    border-radius: 2em;
    padding: 1em;
    font-size: 0.8em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: black;
}

::placeholder {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1em;
    color: black;
}