<header>
  <nav>
    <form #form="ngForm" (submit)="onSubmit()">
        <input type="text" placeholder="Search City" name="city" [(ngModel)]="cityName">
    </form>
  </nav>
</header>


<div class="background" *ngIf="weatherData">
  <img src="../assets/Weather-Day.jpg" *ngIf="weatherData.current.is_day >= 1 && weatherData.current.precip_mm <= 0.5" >
  <img src="../assets/Weather-Night.jpg" *ngIf="weatherData.current.is_day <= 0 && weatherData.current.precip_mm <= 0.5" >
  <img src="../assets/Weather-Rainy.jpg" *ngIf="weatherData.current.precip_mm > 0.5">
  <img src="../assets/Weather-Rainy.jpg" *ngIf="weatherData.current.precip_mm > 0.5 && weatherData.current.temp_c <= 0">
</div>

<section class="wrapper" *ngIf="weatherData">
  <section class="top-data">
    <div class="weather-icon">
      <img src={{apiIconURL}}>
    </div>
    <div class="weather-data">
      <div class="location">{{weatherData.location.name}}</div>
      <div class="temperature">{{ weatherData.current.temp_c | number: '1.0-0'}}°C</div>
    </div>
  </section>

  <section class="bottom-data">
    <!-- Custom angular components, they're used to show data from the API, cardName = type of data; iconUrl = what image to show; cardValue= value received from API  -->
    <info-card cardName="Precipitation" iconUrl="../assets/rain-chance.png" [cardValue]="weatherData.current.precip_mm + 'mm'" ></info-card>
    <info-card cardName="Humidity" iconUrl="../assets/humidity.png" [cardValue]="weatherData.current.humidity + '%'" ></info-card>
    <info-card cardName="Wind" iconUrl="../assets/wind.png" [cardValue]="weatherData.current.wind_kph + 'km/h'" ></info-card>
  </section>

</section>

