<div class="background">
  <img src="../assets/Weather-Day.jpg" *ngIf="14 < 15 && 16 < 17">
  <img src="../assets/Weather-Night.jpg" *ngIf="14 > 15">
</div>

<section class="wrapper">
  <section class="top-data">
    <div class="weather-icon">
      <img src="../assets/cloudy.png" *ngIf="14 > 15">
      <img src="../assets/rain-chance.png" *ngIf="14 < 15">
    </div>
    <div class="weather-data">
      <div class="location">Vila Real</div>
      <div class="temperature">{{ 24.30 | number: '1.0-0'}}°C</div>
    </div>
  </section>

  <section class="bottom-data">
    <info-card cardName="Max" iconUrl="../assets/hot.png" cardValue="26°C"></info-card>
    <info-card cardName="Min" iconUrl="../assets/cold.png" cardValue="12°C"></info-card>
    <info-card cardName="Rain" iconUrl="../assets/rain-chance.png" cardValue="15%"></info-card>
    <info-card cardName="Wind" iconUrl="../assets/wind.png" cardValue="25km/h"></info-card>
  </section>

</section>

